
<!DOCTYPE html>
<html>
<head>
	<title>The Bat Chat</title>
</head>
<body>
	<ul id="messages"></ul>
	<form id="batform">
		<textarea id="batmessage"></textarea><br>
		<input type="submit" value="Send" />
	</form>
</body>
</html>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
	$(function() {
		var socket = null;
		var batform = $("#batform textarea");
		var messages = $("#messages");

		$("#batform").submit(function() {
			if (!batform.val()) return false;
			if (!socket) {
				console.log("Error: No connection!");
				return false;
			}

			socket.send(batform.val());
			batform.val("");
			return false;
		});

		if (!window["WebSocket"]) {
			console.log("Not a batbrowser! Access denied!!");
		}

		else {
			socket = new WebSocket("ws://{{.Host}}/batcave");
			
			socket.onclose = function() {
				console.log('Connection closed!')
			}

			socket.onmessage = function(e) {
				messages.append($("<li>").text(e.data));
			}
		}
	});
	
</script>
