<html>
  <head>
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Sign-In</h1>
      </div>
      <div class="alert alert-warning" role="alert">
        Identify yourself in order to have your access granted to the batcave!
      </div>
      <div class="panel panel-default">	
	<div class="panel-body">
          <p>Select the provider you would like to authenticate with:</p>
          <ul>          
            <li>
	      <a href="/auth/login/twitter">Twitter</a>
            </li>
            <li>
	      <a href="/auth/login/github">GitHub</a>
            </li>
            <li>
	      <a href="/auth/login/google">Google</a>
            </li>
          </ul>
        </div>
      </div>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
